<header class="header-library">
  <div class="container">
    <div class="header-lib__container">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon" width="24" height="24">
          <use href="./images/global-icons/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="header__text">Filmoteka</span>
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="./index.html">home</a>
        </li>
        <li class="header__item">
          <a class="header__link header__link--current" href="./library.html"
            >my library</a
          >
        </li>
      </ul>
    </div>
    <!-- </div> -->
    <div class="filter__list header__button-block">
      <button
        type="button"
        class="js-header__btn-watched btn btn-header header__btn"
        data-modal-add
      >
        Watched
      </button>

      <button
        type="button"
        class="js-header__btn-queue btn btn-header header__btn"
        data-modal-
        queue
      >
        Queue
      </button>
    </div>
    <div class="container1">
      <svg class="sun-svg" width="30" height="30">
        <use href="./images/global-icons/symbol-defs.svg#icon-sun"></use>
      </svg>
      <div class="toggle-container1">
        <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
      </div>
      <svg class="moon-svg" width="30" height="30">
        <use href="./images/global-icons/symbol-defs.svg#icon-moon"></use>
      </svg>
    </div>
  </div>
</header>
