<div class="modal-team-backdrop is-hidden" data-modal-team>
    <div class="modal-team">
        <button type="button" class="modal-team__btn-close" data-modal-team-close>
            <svg class="icon-modal-team_close" height="30" width="30">
                <use href="./images/global-icons/symbol-defs.svg#icon-modal_close"></use>
            </svg>
        </button>
        <div class="modal-team__container">
            <div class="modal-team_title">Команда Сузір'я IT</div>
            <ul class="modal-team__list">
                <li class="modal-team__item team-member">
                    <img class="team-member__photo"
                    srcset="
                    ./images/team_photo_mobile/7.jpg 250w,
                    ./images/team_photo_tablet/7.jpg 109w,
                    ./images/team_photo_desktop/7.jpg 116w
                    "
                     src="./images/team_photo_mobile/7.jpg"
                     sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" 
                     alt="team member photo"
                     width="250"
                     height="340">
                    <div class="team-member__info">
                        <a href="https://github.com/Maryinad" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Team lead</p>
                            <p class="team-member__name">Maryna Ilinova</p>
                        </a>                        
                    </div>
                    
                </li>
                <li class="modal-team__item team-member">
                    <img 
                        class="team-member__photo" 
                        srcset="
                          ./images/team_photo_mobile/3.jpg 250w,
                          ./images/team_photo_tablet/3.jpg 109w,
                          ./images/team_photo_desktop/3.jpg 116w" 
                        src="./images/team_photo_mobile/3.jpg"
                        sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" alt="team member photo"
                        width="250" height="340"
                    >
                    <div class="team-member__info">
                        <a href="https://github.com/Firsache" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Scrum master</p>
                            <p class="team-member__name">Liubov Firsova</p>
                        </a>
                    </div>
                
                </li>
                <li class="modal-team__item team-member">
                    <img 
                        class="team-member__photo" 
                        srcset="
                          ./images/team_photo_mobile/1.jpg 250w,
                          ./images/team_photo_tablet/1.jpg 109w,
                          ./images/team_photo_desktop/1.jpg 116w" 
                        src="./images/team_photo_mobile/1.jpg"
                        sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" 
                        alt="team member photo"
                        width="250" height="340"
                    >
                    <div class="team-member__info">
                        <a href="https://github.com/Tishko1" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Developer</p>
                            <p class="team-member__name">Olena Tishko</p>
                        </a>
                    </div>
                </li>
                <li class="modal-team__item team-member">
                    <img 
                        class="team-member__photo" 
                        srcset="
                          ./images/team_photo_mobile/6.jpg 250w,
                          ./images/team_photo_tablet/6.jpg 109w,
                          ./images/team_photo_desktop/6.jpg 116w" 
                        src="./images/team_photo_mobile/6.jpg"
                        sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" 
                        alt="team member photo"
                        width="250" height="340"
                    >
                    <div class="team-member__info">
                        <a href="https://github.com/OlenaVoroshnina" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Developer</p>
                            <p class="team-member__name">Olena Voroshnina</p>
                        </a>
                    </div>
                </li>
                <li class="modal-team__item team-member">
                    <img 
                        class="team-member__photo" 
                        srcset="
                          ./images/team_photo_mobile/5.jpg 250w,
                          ./images/team_photo_tablet/5.jpg 109w,
                          ./images/team_photo_desktop/5.jpg 116w" 
                        src="./images/team_photo_mobile/5.jpg"
                        sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" 
                        alt="team member photo"
                        width="250" height="340"
                    >
                    <div class="team-member__info">
                        <a href="https://github.com/anna132407" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Developer</p>
                            <p class="team-member__name">Anna Lytvynova</p>
                        </a>
                    </div>
                </li>
                <li class="modal-team__item team-member">
                    <img 
                        class="team-member__photo" 
                        srcset="
                          ./images/team_photo_mobile/2.jpg 250w,
                          ./images/team_photo_tablet/2.jpg 109w,
                          ./images/team_photo_desktop/2.jpg 116w" 
                        src="./images/team_photo_mobile/2.jpg"
                        sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" 
                        alt="team member photo"
                        width="250" height="340"
                    >
                    <div class="team-member__info">
                        <a href="https://github.com/OlesiaMelnyk1" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Developer</p>
                            <p class="team-member__name">Olesia Melnyk</p>
                        </a>
                    </div>
                </li>
                <li class="modal-team__item team-member">
                    <img 
                        class="team-member__photo" 
                        srcset="
                          ./images/team_photo_mobile/4.jpg 250w,
                          ./images/team_photo_tablet/4.jpg 109w,
                          ./images/team_photo_desktop/4.jpg 116w" 
                        src="./images/team_photo_mobile/4.jpg"
                        sizes="(min-width: 1280px) 116px, (min-width: 768px) 109px, (min-width: 320px) 250px, 100vw" 
                        alt="team member photo"
                        width="250" height="340"
                    >
                    <div class="team-member__info">
                        <a href="https://github.com/TatianaSherstyuk2022" target="_blank" class="team-member__git-link">
                            <p class="team-member__position">Developer</p>
                            <p class="team-member__name">Tetiana Sherstiuk</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

