<div class="backdrop__modal is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__btn-close" data-modal-close>
      <svg class="icon-modal_close" height="20" width="20">
        <use href="./images/global-icons/symbol-defs.svg#icon-modal_close" class="use_svg"></use>
      </svg>
    </button>


      
    <div class="modal__container">
    <!-- <img class="modal__photo" alt='film' src='./images/logo.png' />

    <div>
    <p class="modal__title">A FISTFUL OF LEAD</p>
    
    <div class="modal__info-block">
        <div class="modal__key">
            <ul class="modal__list-key">
            <li class="modal__item-key"><p class="modal__key">Vote / Votes</p>
            </li>
            <li class="modal__item-key"></li><p class="modal__key">Popularity</p>
            </li>
            <li class="modal__item-key"></li><p class="modal__key">Original Title</p>
            </li>
            <li class="modal__item-key"></li><p class="modal__key">Genre</p>
            </li>
        </ul>
        </div>

        
        <div class="modal__value">
            <ul class="modal__value-list">
                <li class="modal__value-item">
                    <p class="modal__value-vote"><span class ="modal__value-rat">7.3</span> <span class="modal__value-slash"> / </span> 1260 </p>
                </li>
                <li class="modal__value-item"></li><p class="modal__value-popular">100.2</p>
                </li>
                <li class="modal__value-item"></li><p class="modal__value-title">Original Title</p>
                </li>
                <li class="modal__value-item"></li><p class="modal__value-genre">Genre</p>
                </li>
            </ul>
        </div>
    </div>
    <p class="modal__section">About</p>

    <p class="modal__text">
      Four of the West most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      ?.
    </p>

    <div class="modal__button-block">
      <button
        type="button"
        class="modal__button btn modal__button-full button"
        data-modal-add
      >
        add to watched
      </button>
      <button
        type="button"
        class="modal__button modal__button-border btn btn-secondary"
        data-modal-
        queue
      >
        add to queue
      </button>
    </div>
  </div> -->
</div>
  </div>
</div>
